body {
  margin: 0;
  background-color: wheat;
  font-family: Helvetica;
  color: #222;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > *:first-child {
    flex: 1;
  }

  & > *:not(:first-child) {
    border-left: 2px solid black;
    padding: 8px 16px;
  }

  & > *:not(:first-child):hover {
    text-decoration: underline;
    cursor: pointer;
  }

  & > *:not(:second-child) {
    border-left: 2px solid black;
    padding: 8px 16px;
  }

  & a {
    margin-left: 0;
    color: black;
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }
}

.content {
  padding: 20px;

  display: grid;
  grid-gap: 20px;

  max-width: 1000px;
  margin: 0 auto;
}

section > p {
  line-height: 1.5em;
}

h1,
h2 {
  margin: 0;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 32px;
}

h3 {
  margin-top: 32px;
}

hr {
  border: 1px solid black;
  margin: 32px 0;
}

section {
  border: 2px solid black;
  box-shadow: black 4px 4px;
  padding: 32px;
  background-color: white;
}

section > a {
  margin-left: 16px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

span.external-arrow {
  margin-left: 16px;
}

section > a:hover {
  text-decoration: underline;
}

.email-input {
  display: flex;
  flex-direction: row;
}

.email-input > *:first-child {
  flex: 1;
  margin-right: 8px;
  padding: 8px;
  border: 2px black solid;
  border-radius: 4px;
  line-height: 1em;
  background-color: white;
}

.email-input > button {
  background-color: black;
  color: white;
  border: 2px black solid;
  border-radius: 4px;
  line-height: 1em;
  cursor: pointer;
}

.email-input > button:hover {
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  border: 2px black solid;
  border-radius: 4px;
  line-height: 1em;
  background-color: white;
  display: flex;
  margin: 8px 0;

  & > * {
    margin: 0;
  }

  & > *:first-child {
    flex: 1;
  }

  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    background-color: aliceblue;
    cursor: pointer;
    animation-name: headShake;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

    a {
      text-decoration: underline;
    }

    // a.external-link {
    //   // Span that comes immediately after an external link
    //   & + span:before {
    //     content: "leave this site ";
    //   }
    // }
  }
}

// a.external-link:hover {
//   // Span that comes immediately after an external link
//   & + span:after {
//     content: "  leave this site";
//   }
// }

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes headShake {
  0% {
    transform: rotateZ(-1deg);
  }

  20% {
    transform: rotateZ(0);
  }
}

span.icon {
  /*   border-radius: 4px;
    padding: 2px;
    background-color: white; */
  text-shadow: 2px 2px 0 black;
}

.codepen {
  height: 265px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}
